<div class="input-group">
  <input type="text" class="form-control" placeholder="Search">
  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
</div>
<div class="well">
    Welcome to Con-Man! Normally the convention logo would go here, but you haven't specified one!
</div>
<div id="menu">
<button class="btn btn-block btn-primary">
    <h1>Show Events</h1>
</button>
<button class="btn btn-block btn-primary">
    <h1>Show Booths</h1>
</button>
<button class="btn btn-block btn-primary">
    <h1>Show Speakers</h1>
</button>
</div>
